body {
    background-color: #1e1e22;
}

#goback {
    position: fixed;
    width: 50px;
    height: 80px;
    top: 20px;
    left: 20px;
    z-index: 10000;
}

#goback img{
    width: 50px;
    height: 80px;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#mainimg {
    position: relative;
    width: 80vw;
    height: auto;
    margin-top: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 100px;
}

.title {
    width: 100vw;
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 50px;
}

.subtitle {
    width: 100vw;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.line {
    width: 60vw;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.othercutimg {
    position: relative;
    width: 74vw;
    height: auto;
    margin-top: 0px;
    margin-left: 13vw;
    margin-right: 13vw;
    margin-bottom: 30px;
}


body{
    animation-name:fadeInAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeInAnime{
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
